.main{
    width: 1115px;
    display: flex;
 
    content: center;
}
.hader{
    padding-left: 100px;
    padding-top: 70px;
}
.foto
{
    padding-top: 90px;
    width: 540px;
    padding-left: 125px;
    
}