.main{
    width: 1115px;
    display: flex;
    

}
.hader{
    padding-left: 80px;
    padding-top: 125px;

    
}
.foto
{
    padding-top: 94px;
    width: 540px;
    padding-left: 125px;
    
}

.text{
    text-align: justify;

}